/* ShowCurrentLocation.module.css */

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.mapContainer {
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f9f9f9;
  font-family: monospace;
  border-bottom: 1px solid #ccc;
}

.sidebarContent {
  margin-bottom: 10px;
}

.sidebarButtons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 8px 16px;
  cursor: pointer;
}
